* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
header {
  display: block;
  margin: 20px;
}
input::-webkit-input-placeholder {
  color: #888;
}

input:focus::-webkit-input-placeholder {
  color: #888;
}
.btn {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: pink;
}
.btn:hover {
  background-color: pink;
  color: white;
}
.miniatures ul {
  margin: 20px;
  padding: 0;
  width: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}
.miniatures ul li {
  flex: 1;
  margin: 5px;
  text-align: center;
}
.miniatures ul li img {
  cursor: pointer;
}
.img_menu {
  zoom: 1;
  border:none;
  width: 100px;
}
.img_menu:hover {
  border: 2px solid yellow;
  outline:1px solid yellow;
}
.content {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: auto;
  border: 1px solid gray;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.content .form {
  flex: 1;
  width: auto;
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}
.content .form label {
  display: block;
}
.content .form input,
.content .form select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid gray;
  height: 60px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 30px;
}
.content .wrapper{
  overflow-x: scroll;
  width: auto;
}
.content .example {
  flex: 1;
  width: 100%;
  min-width: 600px;
  position: relative;
}
.content .example .name {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
  width: 147px;
  height: 32px;
  top: 80px;
  left: 83px;
  display: flex;
}
.content .example .name:nth-child(-n + 4) p {
  overflow: hidden;
  height: 24px;
  line-height: 30px;
}
.content .example .name:nth-child(1) {
  top: 80px;
}
.content .example .name:nth-child(2) {
  top: 129px;
}
.content .example .name:nth-child(3) {
  top: 178px;
}
.content .example .name:nth-child(4) {
  top: 228px;
}
.content .example .name:nth-child(5) {
  left: 360px;
  top: 80px;
  width: 163px;
  height: 76px;

  font-size: 19px;
}
.content .example .name:nth-child(6) {
  left: 360px;
  top: 188px;
  width: 163px;
  height: 76px;
  font-size: 19px;
  align-content: center;
}
.content .example .name:nth-child(7) {
  left: 235px;
  top: 425px;
  width: 163px;
  height: 76px;
  transform: rotate(8deg);
  font-size: 19px;
}
.content .example .name p {
  font-family: 'Comic Sans MS';
  margin: 0;
  padding: 0;
  flex: 1;
  align-self: center;
}

#tag {
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url('../img/kit-etiqueta-escolar-star-wars1-f122ffd54abdfaf68515691977960902-1024-1024.jpg');
  z-index: -1;
}

@media (min-width: 1000px) {
  .content {
    flex-direction: row;
  }
}
